In [4]:
import pandas as pd

In [3]:
# first datatype
series=pd.Series(["BMW","Audi","Jaguar"])

In [4]:
series

0       BMW
1      Audi
2    Jaguar
dtype: object

In [6]:
colours=pd.Series(["Red","Blue","Orange"])

In [7]:
colours

0       Red
1      Blue
2    Orange
dtype: object

In [8]:
#Second datatype
dataframe=pd.DataFrame({"Cars":series,"colour":colours})

In [9]:
dataframe

     Cars  colour
0     BMW     Red
1    Audi    Blue
2  Jaguar  Orange

In [5]:
patient_record=pd.read_csv("patient_record - Sheet1.csv")

In [6]:
patient_record

,Patient ID,First Name,Last Name,Date of Birth,Gender,Cont_Num,Email Address,Address,Emg_num,Emg_Num,Prim_Phy,Date_Adm,Rea_add
0,1,John,Doe,1990-05-15,Male,123-456-7890,john.doe@example.com,"123 Maple St, Springfield",Jane Doe,987-654-3210,Dr. Smith,2024-07-01,Routine Checkup
1,2,Mary,Johnson,1985-11-23,Female,234-567-8901,mary.j@example.com,"456 Oak St, Springfield",Tom Johnson,876-543-2109,Dr. Brown,2024-07-03,Flu Symptoms
2,3,James,Williams,1978-02-10,Male,345-678-9012,james.w@example.com,"789 Pine St, Springfield",Lisa Williams,765-432-1098,Dr. Taylor,2024-07-05,Back Pain
3,4,Patricia,Brown,30-8-1995,Female,456-789-0123,patricia.b@example.com,"101 Birch St, Springfield",Mark Brown,654-321-0987,Dr. Wilson,2024-07-07,Annual Physical
4,5,Robert,Jones,12-12-1982,Male,567-890-1234,robert.j@example.com,"202 Cedar St, Springfield",Nancy Jones,543-210-9876,Dr. Davis,2024-07-09,Allergic Reaction
5,6,Linda,Miller,5-4-1975,Female,678-901-2345,linda.m@example.com,"303 Elm St, Springfield",John Miller,432-109-8765,Dr. Martinez,2024-07-11,Chest Pain
6,7,Michael,Davis,1988-09-17,Male,789-012-3456,michael.d@example.com,"404 Fir St, Springfield",Laura Davis,321-098-7654,Dr. Garcia,2024-07-13,High Blood Pressure
7,8,Barbara,Garcia,1993-03-29,Female,890-123-4567,barbara.g@example.com,"505 Spruce St, Springfield",Michael Garcia,210-987-6543,Dr. Hernandez,2024-07-15,Migraine
8,9,William,Rodriguez,1970-06-25,Male,901-234-5678,william.r@example.com,"606 Walnut St, Springfield",Lisa Rodriguez,109-876-5432,Dr. Lee,2024-07-17,Diabetes Management
9,10,Elizabeth,Martinez,1983-01-14,Female,012-345-6789,elizabeth.m@example.com,"707 Hickory St, Springfield",John Martinez,098-765-4321,Dr. Clark,2024-07-19,Asthma Checkup

In [7]:
#Attributes
patient_record.dtypes

Patient ID        int64
First Name       object
Last Name        object
Date of Birth    object
Gender           object
Cont_Num         object
Email Address    object
Address          object
Emg_num          object
Emg_Num          object
Prim_Phy         object
Date_Adm         object
Rea_add          object
dtype: object

In [8]:
patient_record.columns

Index(['Patient ID', 'First Name', 'Last Name', 'Date of Birth', 'Gender',
       'Cont_Num', 'Email Address', 'Address', 'Emg_num', 'Emg_Num',
       'Prim_Phy', 'Date_Adm', 'Rea_add'],
      dtype='object')

In [9]:
patient_record.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
# Function call
patient_record.describe()

       Patient ID
count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000

In [11]:
patient_record.sum()

Patient ID                                                      55
First Name       JohnMaryJamesPatriciaRobertLindaMichaelBarbara...
Last Name        DoeJohnsonWilliamsBrownJonesMillerDavisGarciaR...
Date of Birth    1990-05-151985-11-231978-02-1030-8-199512-12-1...
Gender           MaleFemaleMaleFemaleMaleFemaleMaleFemaleMaleFe...
Cont_Num         123-456-7890234-567-8901345-678-9012456-789-01...
Email Address    john.doe@example.commary.j@example.comjames.w@...
Address          123 Maple St, Springfield456 Oak St, Springfie...
Emg_num          Jane DoeTom JohnsonLisa WilliamsMark BrownNanc...
Emg_Num          987-654-3210876-543-2109765-432-1098654-321-09...
Prim_Phy         Dr. SmithDr. BrownDr. TaylorDr. WilsonDr. Davi...
Date_Adm         2024-07-012024-07-032024-07-052024-07-072024-0...
Rea_add          Routine CheckupFlu SymptomsBack PainAnnual Phy...
dtype: object

In [12]:
len(patient_record)

10